@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mate+SC&family=Noto+Sans+TC&family=Rubik:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
   /* background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/abstract-blurred-dark-background_7yTYY-_thumb.jpg"); */
    
}
/*.navbar{
    position:fixed;
    background-color: rgb(243, 105, 54);
    width:100%;
    padding: 15px 0px;
    font-family:Lato ;
}
.navbar .compheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.compheader{
    max-width: 1300px;
    padding:6px 70px;
    margin: auto;
}
.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 700;
    font-family:lato ;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    padding:0px 20px;
}
.navbar .menu li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:black;
  
}
.menu-btn{
    color:#fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
/* home section styling */


.nav1{
    height: 80px;
    background-color: rgb(243, 105, 54);
    font-family: "Playfair Display";
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    width:100%;
    position: fixed;
}
.nav1 .menubtn i{
color:white;
font-size: 40px;

cursor: pointer;
display:none;
}
.nav1 .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 700;
    font-family:lato ;
}
.nav1 ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family:Ubuntu ;
    font-weight: 900;
}
.nav1 ul li{
    margin: 0 50px;
   
}
.nav1 ul li > ul{
    display: none;
    flex-direction: column;
}
.nav1 ul li> ul li{
    position: relative;
width: 100%;
margin-left: -5px;
padding:30;

}
.nav1 ul li:hover > ul{
    display: flex;
  
}
.nav1 ul li a{
    color:cornsilk;
    text-decoration: none;
    font-size: 18px;
  
   letter-spacing: 1px;
    padding:8px 4px;
    border-radius: 5px;
   
    transition:all 0.3s ease;
}
.nav1 ul li a:hover,.nav1 ul li a.active{
    background-color: none;
    color: rgb(243, 105, 54);
}
#click{
    display: none;
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}


.home{
   display: flex; 
   background: url("img1.PNG") no-repeat center  ;
   background-size: cover;
   font-family: "Rubik";
   height:100vh;
   color: #000;
   
}
.home .compheader{
    margin:auto 0 auto 40px
}
.home .home-content .text-1{
    font-size: 50px;
    font-family: Parisienne;
    font-weight: 500;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    font-family:"Great Vibes";
}
.home .home-content .text-3{
    font-size: 50px;
    margin:5px 0;
    font-weight: 500;
    font-family: Parisienne;
}
.home .home-content .text-3 span{
    color:orangered;
    font-weight: 500;
}

@media(max-width:940px){
    .nav1 ul{
        position: fixed;
        top:80px;
        left:-100%;
        padding-top:80px;
        background-color: #111;
        height:100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
        overflow:hidden;
       
    }
  
    #click:checked ~ ul{
        left:0% ;
        
        
    } 
   
  
    .nav1 ul li{
        margin:40px 0;

    }
    .nav1 ul li a{
        font-size: 20px;
    }
    .nav1 .menubtn{
        margin-right: -20px;
    }
    .nav1 .menubtn i{
        display: block;
    }
    .nav1 .logo{
       
        transform: scale(0.8);
        
    }
    
}


/*@media(max-width:940px){

    .menu-btn{
       
        display: block;
        z-index: 999;
    } 

    .compheader{  
        padding:6px 70px;
     
    }
    .navbar .menu{
        position: fixed;
        height:100vh;
        width:100%;
        left:0%;
        top:0;
        background: #111;
        text-align: center;
        padding-top: 140px;
        transition: all 0.2s ease;
    }

    .navbar .menu.active{
        left:0;
    }
    

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0 ;
        font-size: 25px;
        
    }
    .navbar .menu li a:hover{
        color:rgb(243, 105, 54);
    }
    .home .home-content .text-1{
        font-size: 45px;
        font-family: Parisienne;
        font-weight: 500;
    }
    .home .home-content .text-2{
        font-size: 70px;
        font-weight: 600;
        margin-left: -3px;
        font-family:"Great Vibes";
    }
    .home .home-content .text-3{
        font-size: 45px;
        margin:5px 0;
        font-weight: 500;
        font-family: Parisienne;
    }
    .home .home-content .text-3 span{
        color:orangered;
        font-weight: 500;
    }
  
    
}*/