@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mate+SC&family=Noto+Sans+TC&family=Rubik:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    max-width: 100%;
   /* background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/abstract-blurred-dark-background_7yTYY-_thumb.jpg"); */
    
}

html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}

.nav1{
    height: 80px;
    background-color: rgb(247, 99, 45);
    font-family: "Playfair Display";
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    width:100%;
    position: fixed;
    z-index: 1;
}
.nav1 .menubtn i{
color:white;
font-size: 40px;
cursor: pointer;
display:none;
}

.nav1 .logo a{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
    font-family: Ubuntu;
}
.nav1 ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family:Ubuntu ;
    font-weight: 900;
}
.nav1 ul li{
    margin: 0 50px;
   
}
.nav1 ul li > ul{
    display: none;
    flex-direction: column;
}
.nav1 ul li> ul li{
position: relative;
width: 100%;
margin-left: -5px;
padding:30;

}
.nav1 ul li:hover > ul{
    display: flex;
  
}
.nav1 ul li a{
    color:cornsilk;
    text-decoration: none;
    font-size: 18px;
  
   letter-spacing: 1px;
    padding:8px 4px;
    border-radius: 5px;
   
    transition:all 0.3s ease;
}
.nav1 ul li a:hover,.nav1 ul li a.active{
    background-color: none;
    color:#000;
}
#click{
    display: none;
}
#click:checked ~ .menu-btn i:before{
    content: "&#x2716";
}

.home .home-content .text-1{
    font-size: 45px;
    font-family: Parisienne;
    font-weight: 600;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    font-family:"Great Vibes";
}
.home .home-content .text-3{
    font-size: 45px;
    margin:5px 0;
    font-weight: 600;
    font-family: Parisienne;
}
.home .home-content .text-3 span{
    color:rgb(243, 105, 54);
    font-weight: 500;
}



.home{
display: flex; 
background: url("images/img1.PNG") no-repeat center  ;
background-size: cover;
font-family: "Rubik";
height:100vh;
color: #000;

}
.home .compheader{
 margin:auto 0 auto 40px
}
.home .home-content .text-1{
 font-size: 50px;
 font-family: Parisienne;
 font-weight: 500;
}
.home .home-content .text-2{
 font-size: 75px;
 font-weight: 600;
 margin-left: -3px;
 font-family:"Great Vibes";
}
.home .home-content .text-3{
 font-size: 50px;
 margin:5px 0;
 font-weight: 500;
 font-family: Parisienne;
}
.home .home-content .text-3 span{
 color:rgb(243, 105, 54);
 font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background:rgb(238, 98, 47); 
    color:#fff;
    font-size:25px;
    margin-top:20px;
    padding:12px;
    border-radius: 12px;
    border: 2px solid rgb(12, 9, 8);
    transition: all 0.3s ease;
    font-family:Rubik ;
    font-weight: 700;
    margin-left: 20px;
}
 .home .home-content a:hover{
     color:#fff;
   transform: scale(1.1);
   background:rgb(235, 86, 31);
 }

section{
    padding:0 100px
}
.about, .collection, .skills , .contact, .footer{
    font-family: 'Lato';
    z-index:-2;

}
.about .heading , .collection .heading, .skills .heading, .contact .heading{
    font-family: 'Lato';
    text-align: center;
    font-size: 40px;
   padding-top:50px;
    position: relative;

}

.about .heading::before, .collection .heading::before ,.contact .heading::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    
    width: 200px;
    height: 3px;
    background: #111;
    
    transform: translateX(-50%);
}
.about .heading::after {
    content: "who I am";
    position: absolute;
    bottom: -20px;
    left:50%;
   font-size: 20px;
   color: rgb(243, 105, 54);;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content, .collection .collect-content, .skills .skills-content .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     width:100%;
}



.about .about-content .left-col{
    width:45%;
    margin:0;
}
.about .about-content .left-col img{
    height:500px;
    width:400px;
    object-fit: cover;
   
    border-radius: 30%;
}
.about .about-content .right-col{
    width: 55%;
}

.about .about-content .right-col .button button{
    width: 30%;
    
    margin:20px 0px;
    padding:10px 0px;
    color:#fff;
    background: rgb(238, 98, 47);
    font-size: 20px;
    transition: all 0.3 ease;
    border-radius: 1rem;
    border-color: black;
}
.contact .right form .button button:hover{
background-color: lightgray;
color: rgb(216, 73, 21);
}

.collection{
    background-color: #111;
    color:#fff;
    margin-bottom: 30px;
}

.collection .heading::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:50%;
    
    width: 300px;
    height: 3px;
    background: #fff;
    
    transform: translateX(-50%);
}
.collection .heading::after {
    content: "what I made";
    position: absolute;
    bottom: -20px;
    left:50%;
   font-size: 20px;
   color: rgb(243, 105, 54);;
    background: #111;
    transform: translateX(-50%);
}
.collection .collect-content .card{
    margin:60px 5px;
    width:calc(33% - 20px);
    width:30%;height:320px;
    background-color: #222;
    text-align: center;
    border-radius: 10px;
    padding: 40px 25px;
    cursor:pointer;
    transition: all 0.3s ease;
}

.collection .collect-content .card a{
    text-decoration: none;
    color:white;
}
.collection .collect-content .card i{
    font-size: 50px;
    color:rgb(243, 105, 54);
   padding:20px;

}

.collection .collect-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:20px;
}

.collection .collect-content .card:hover .box{
    transform: scale(1.05);
}

.collection .collect-content .card:hover{
    background:#CF4A04;

}
.collection .collect-content .card:hover i{
    color:#fff;
}

.skills .heading::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left:45%;
    
   width:250px;
    height: 3px;
    background: #111;
    
    transform: translateX(-50%);
}
.skills .heading::after {
    content: "what I know";
    position: absolute;
    bottom: -18px;
    left:45%;
   font-size: 16px;
   color: rgb(243, 105, 54);
    background: #fff;
    transform: translateX(-50%);
}

.Dskills{
    display: grid;
    height: 100%;
    place-items: center;
  
}

.full{
    display: flex;
}
::selection{
    color: #fff;
    background:rgb(243, 105, 54); ;
  } 
  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
   
  }
  .skill-bars .bar{
    margin: 30px 0;
  } 
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  } 
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: rgb(243, 105, 54);;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 85%;
  }
  .bar .progress-line.css span{
    width: 70%;
  }
  .bar .progress-line.js span{
    width: 65%;
  }
  .bar .progress-line.java span{
    width: 50%;
  }
  .bar .progress-line.git span{
    width: 80%;
  }
  .bar .progress-line.mysql span{
    width: 70%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "85%";
  }
  .progress-line.css span::after{
    content: "70%";
  }
  .progress-line.js span::after{
    content: "65%";
  }
  .progress-line.java span::after{
    content: "50%";
  }

  .progress-line.git span::after{
    content: "80%";
  }
  .progress-line.mysql span::after{
    content: "70%";
  } 

  .contact .heading::after {
    content: "get in touch";
    position: absolute;
    bottom: -20px;
    left:50%;
   font-size: 20px;
   color: rgb(243, 105, 54);
    background: #fff;
    transform: translateX(-50%);
}
.contact-content{
    display: flex;
    
}
.contact .contact-content .column{
    width:calc(50% - 30px);
}
  .contact .contact-content .left p{
      text-align: justify;
      
  }
 
  .contact .contact-content .left .icons{
      margin:20px 0px;
  }
  .contact .contact-content .row{
      display: flex;
      height: 65px;
      align-items: center;
  }
  

.contact .contact-content  .column {
    margin:40px
}

  .contact .contact-content .row .info{
      margin-left: 20px;
  }
  .contact .contact-content .icons .row i{
      font-size: 30px;
      color:rgb(243, 105, 54)
  }
  .contact .contact-content .icons .row .info .head{
      font-weight: 900;
      color: #333;
  }

 
.contact .right form .fields,
.contact .right form .fields .field
{
    height: 45px;
    width:100%;
    margin-bottom: 15px;

}

.contact .right form .textarea{
height:180px;
}



.contact .right form .field input,
.contact .right form .textarea textarea
{
    height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius: 6px;
    outline:none;
    padding: 0 15px;
    font-size: 17px;
}
.contact .right form .button{
    height:50px;
    width:200px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    color:#fff;
    background: rgb(238, 98, 47);
    font-size: 20px;
    transition: all 0.3 ease;
    border-radius: 1rem;
    border-color: black;
}
.contact .right form .button button:hover{
background-color: lightgray;
color: rgb(216, 73, 21);
}

footer{
    width:100%;
    background: #111;
    padding: 20px 17px;
    color:#fff;
    text-align: center;
    font-size: 25px;
}
footer span a{
    text-decoration: none;
    color:rgb(216, 73, 21); ;
}


@media(max-width:1115px){
    .home .home-content{
        margin-left: 30px;
    }
    .home .compheader{
        margin-left: 0px;
    }

    .nav1 ul{
        position: fixed;
        top:80px;
        left:-100%;
        padding-top:80px;
        background-color: #111;
        height:100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
    
       
    }
  
    #click:checked ~ ul{
        left:0% ;
        
        
    } 
    
  
    .nav1 ul li{
        margin:40px 0;

    }
    .nav1 ul li a{
        font-size: 20px;
    }
    .nav1 .menubtn{
        margin-right: -20px;
    }
    .nav1 .menubtn i{
        display: block;
        font-size: 30px;
    }
    .about .about-content .right-col .text{
        margin:0;
        padding:0;
    }
    .about .about-content .right-col{
        width:100%;
    }
        
    .about .about-content .left-col{
        width:100%;
    }
   
    .about .about-content .left-col img{
        height:auto;
        width:auto;  
        object-fit: contain;
        margin-left: 22%;
        padding:30px;
        
    
    }

    .collection .collect-content .card{
        
        width:calc(50% -20px);
       
        padding:15px;
        cursor:pointer;
        transition: all 0.3s ease;
    }
    .collection .collect-content .card i{
       padding:5px;
    }
    
    .collection .collect-content .card .text{
        font-size: 25px;
        font-weight: 500;
        margin:15px;
    }
    
    .collection .collect-content .card:hover .box{
        transform: scale(1.05);
    }
    
    .collection .collect-content .card:hover{
        background:#CF4A04;
    
    }
    .collection .collect-content .card:hover i{
        color:#fff;
    }
   
    .skill-bars{
        width:500px;
    }
    .contact .contact-content .column{
        width:calc(100% - 30px);
    }


}

@media(max-width:825px){
    
    .home{
        margin:0;
        padding:0;
    
    }
    .nav1 ul li a:hover,.nav1 ul li a.active{
       
        color:rgb(247, 99, 45);
    }
    .nav1 .logo a{
        margin-left: -70px;
    }
        .home .home-content .text-1{
        font-size: 27px;
        font-family: Parisienne;
        font-weight: 600;
       }
       .home .home-content .text-2{
        font-size: 40px;
        font-weight: 600;
        margin-left: -3px;
        font-family:"Great Vibes";
       }
       .home .home-content .text-3{
        font-size: 27px;
        margin:5px 0;
        font-weight: 600;
        font-family: Parisienne;
       }
       .home .home-content .text-3 span{
        color:rgb(243, 105, 54);
        font-weight: 500;
       }
       .home .home-content a{
        font-size:20px;
        padding: 8px;
       } 

       .compheader{
           max-width: 800px;
       }
       .about .about-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
         align-items: center;
         justify-content: center;
        width:100%;
         
    }

    .about{
        font-family: 'Lato';
        z-index:-2;
       margin:10px 30px ;
       padding:0;
    }
    .about .heading{
            font-size: 30px;

    }
    
    .about .heading::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left:50%;
        
        width: 180px;
        height: 3px;
        background: #111;
        
        transform: translateX(-50%);
    }
    .about .heading::after{
        content: "who I am";
        position: absolute;
        bottom: -27px;
      
        left:50%;
       font-size: 20px;
       color: rgb(243, 105, 54);;
        background: #fff;
        transform: translateX(-50%);
    }
    .about .about-content{
        display: flex;
        flex-wrap: wrap;
      
    }

   
    .about .about-content .left-col img{
        height:auto;
        width:auto;
        
        object-fit: cover;
        border-radius: 10px;
        margin:20px 0px;
    }
 
    .about .about-content .right-col .text{
    font-size: 25px;
    font-weight: 600;
    margin:0px 0px 10px 0px;
    padding:10px;
    }

    .about .about-content .right-col .text span{
    color:rgb(243, 105, 54);      
    }
    .about .about-content .right-col .para{
     
        margin:0%;
        padding:0px;
    }
 
    
    .about .about-content .left-col img{
        margin-left:0px;
        border-radius: 30%;
      }
  

    .about .about-content .right-col .button button{
        width: 50%;
        height: 100%;
        font-size: 14px;
    }

      .collection{
        
       margin:10px 30px ;
       padding:0;
       
    }
      .collection .heading{
        font-size: 30px;
      }

      .collection .heading::before{
        bottom: -10px;
        width: 230px;
        height: 3px;
    }
    .collection .heading::after{
        bottom: -20px;
      
        left:50%;
       font-size: 20px;
       color: rgb(243, 105, 54);;
     
        transform: translateX(-50%);
       
    }
    .collection .collect-content .card{
        
        width:100%;
        margin:50px 15px 0px 15px;
        padding:15px;
        cursor:pointer;
        transition: all 0.3s ease;

    }

    .collection .collect-content .card i{
       padding:5px;
    }
    
    .collection .collect-content .card .text{
        font-size: 25px;
        font-weight: 500;
        margin:15px;
    }
    .collection .collect-content .card #gamee{
         margin-bottom: 30px;
    }
    .collection .collect-content .card:hover .box{
        transform: scale(1.05);
    }
    
    .collection .collect-content .card:hover{
        background:#CF4A04;
    
    }
    .collection .collect-content .card:hover i{
        color:#fff;
    }
    .about .heading{
        font-size: 30px;

}

.Dskills{
    margin:20px;
    padding: 0;
}

.skills .skill-bars{
    display: flex;
    flex-wrap: wrap;
  
}

   
    .skill-bars{
        width: 380px;
        margin-left: -30px;
    }

    .about .heading::before{
        content: "";
        position: absolute;
        bottom: -20px;
        left:50%;
        
        width: 180px;
        height: 3px;
        background: #111;
        
        transform: translateX(-50%);
    }
    .contact .heading::after{
        content: "get in touch";
        position: absolute;
        bottom: -15px;
      
        left:50%;
       font-size: 15px;
       color: rgb(243, 105, 54);;
        background: #fff;
        transform: translateX(-50%);
    }
    .contact{
        margin:0;
        padding-left:10px;
    }
    .contact .heading{
        margin-left: 70px;
     
    }
    .contact-content{
        display: flex;
        flex-direction: column;
       
    }
    .contact .contact-content .column  {
        margin-top: -10px;
    }
    .contact .contact-content .column .fields .field{
        width: 100%;
        height: 100%;
    }
    .contact .right form .button button{
        width: 60%;
        height: 100%;
        font-size: 14px;
    }
    footer{
        margin-top: 150px;
        font-size: 20px;
    }


}
    

    




